@import "./netgif-theme";

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: hidden;
}

#select-rectangle {
    position: relative;
    z-index: 999;
    border-bottom:dotted
}

@keyframes dash {
    to {
        stroke-dashoffset: 1000;
    }
}
