<h2 mat-dialog-title>Shortcuts</h2>
<mat-dialog-content class="mat-typography">
    <table class="mat-table">
        <tr class="mat-header-row">
            <th class="mat-header-cell"></th>
            <th class="mat-header-cell"></th>
        </tr>
        <tr class="mat-row">
            <th class="mat-cell">Ctrl + A: </th>
            <th class="mat-cell">Select all canvas elements on the canvas</th>
        </tr>
        <tr class="mat-row">
            <th class="mat-cell">Ctrl + C: </th>
            <th class="mat-cell">Copy all selected elements on the canvas into the clipboard</th>
        </tr>
        <tr class="mat-row">
            <th class="mat-cell">Ctrl + V: </th>
            <th class="mat-cell">Paste all selected elements from the clipboard into the canvas</th>
        </tr>
        <tr class="mat-row">
            <th class="mat-cell">Delete: </th>
            <th class="mat-cell">Delete all selected elements from the canvas</th>
        </tr>
        <tr class="mat-row">
            <th class="mat-cell">Escape: </th>
            <th class="mat-cell">Remove items from the clipboard, delete drawing lasso</th>
        </tr>
    </table>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
