<div class="test">
    <mat-toolbar fxLayout="row" class="app-container mat-toolbar mat-toolbar-single-row">
        <mat-toolbar-row fxFlex>
            <mat-icon id="netgrif-icon" svgIcon="netgrif_logo"></mat-icon>
            <mat-button-toggle-group fxLayoutAlign="start end">
                <mat-button-toggle mat-button (click)="changeCanvasMode('select', true)">
                    <mat-icon>open_with</mat-icon>
                </mat-button-toggle>
<!--                <mat-button-toggle mat-button (click)="selectAll()">-->
<!--                    <mat-icon>tab_unselected</mat-icon>-->
<!--                </mat-button-toggle>-->
                <mat-button-toggle mat-button (click)="changeCanvasMode('transition')">
                    <mat-icon svgIcon="transition"></mat-icon>
                </mat-button-toggle>
                <mat-button-toggle mat-button (click)="changeCanvasMode('place')">
                    <mat-icon svgIcon="place"></mat-icon>
                </mat-button-toggle>
                <mat-button-toggle mat-button (click)="changeCanvasMode('arc')">
                    <mat-icon svgIcon="arc"></mat-icon>
                </mat-button-toggle>
                <mat-button-toggle mat-button (click)="changeCanvasMode('resetarc')">
                    <mat-icon svgIcon="resetarc"></mat-icon>
                </mat-button-toggle>
                <mat-button-toggle mat-button (click)="changeCanvasMode('inhibitor')">
                    <mat-icon svgIcon="inhibitor"></mat-icon>
                </mat-button-toggle>
                <mat-button-toggle mat-button (click)="changeCanvasMode('read')">
                    <mat-icon svgIcon="read"></mat-icon>
                </mat-button-toggle>
                <mat-button-toggle mat-button (click)="changeCanvasMode('move')">
                    <mat-icon>open_with</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle mat-button (click)="changeCanvasMode('remove')">
                    <mat-icon>delete_outline</mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>
            <button mat-raised-button id="source-button" (click)="goToLink('https://github.com/netgrif/petriflow-svg')">
                <mat-icon svgIcon="github"></mat-icon>
                Source
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="outer">
        <lib-petriflow-canvas class="canvas"></lib-petriflow-canvas>
    </div>
</div>
