@import "../netgif-theme";

.app-container {
    padding: 0 16px;
    width: 100%;
    overflow: hidden;
    border-bottom: 5px solid #DDDDDD;
    background-color: map-get($netgrif-blue, 600);;
}

.canvas {
    width: 10000px;
    height: 10000px;
}

.test {
    margin: 0;
    padding: 0;
}

.inner {
    display: block;
}

.outer {
    display: flex;
    overflow: scroll;
    min-height: 100%;

}

#source-button {
    position: absolute;
    right: 15px;
    top: 15px;
}
