<div class="test">
    <mat-toolbar class="app-container mat-toolbar mat-toolbar-single-row">
        <mat-toolbar-row>

            <button mat-button (click)="transitionMode = 'select'">Select</button>
            <button mat-button (click)="transitionMode = 'transition'">Transition</button>
            <button mat-button (click)="transitionMode = 'place'">Place</button>
            <button mat-button (click)="transitionMode = 'arc'">Arc</button>
            <button mat-button>Remove</button>
            <button mat-button>Move</button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="outer">
        <lib-petriflow-canvas class="canvas"></lib-petriflow-canvas>
    </div>
</div>
