<div class="test">
    <mat-toolbar class="app-container mat-toolbar mat-toolbar-single-row">
        <mat-toolbar-row>
            <mat-button-toggle-group fxLayoutAlign="start end">
                <mat-button-toggle mat-button (click)="transitionMode = 'select'">
                    <mat-icon svgIcon="cursor-default-outline"></mat-icon>
                </mat-button-toggle>
                <mat-button-toggle mat-button (click)="transitionMode = 'transition'">
                    <mat-icon svgIcon="transition"></mat-icon>
                </mat-button-toggle>
                <mat-button-toggle mat-button (click)="transitionMode = 'place'">
                    <mat-icon svgIcon="place"></mat-icon>
                </mat-button-toggle>
                <mat-button-toggle mat-button (click)="transitionMode = 'arc'">
                    <mat-icon svgIcon="arc"></mat-icon>
                </mat-button-toggle>
                <mat-button-toggle mat-button (click)="transitionMode = 'move'">
                    <mat-icon>open_with</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle mat-button>
                    <mat-icon>delete_outline</mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>
            <button mat-raised-button id="source-button" (click)="goToLink('https://github.com/netgrif/petriflow-svg')">Source</button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="outer">
        <lib-petriflow-canvas class="canvas"></lib-petriflow-canvas>
    </div>
</div>
