<h2 mat-dialog-title>Shortcuts</h2>
<mat-dialog-content class="mat-typography">
    <table class="mat-table">
        <caption>Shortcuts table</caption>
        <tr class="mat-header-row">
            <th class="mat-header-cell" scope="col"></th>
            <th class="mat-header-cell" scope="col"></th>
        </tr>
        <tr class="mat-row">
            <th class="mat-cell" scope="col">Ctrl + A: </th>
            <th class="mat-cell" scope="col">Select all canvas elements on the canvas</th>
        </tr>
        <tr class="mat-row">
            <th class="mat-cell" scope="col">Ctrl + C: </th>
            <th class="mat-cell" scope="col">Copy all selected elements on the canvas into the clipboard</th>
        </tr>
        <tr class="mat-row">
            <th class="mat-cell" scope="col">Ctrl + V: </th>
            <th class="mat-cell" scope="col">Paste all selected elements from the clipboard into the canvas</th>
        </tr>
        <tr class="mat-row">
            <th class="mat-cell" scope="col">Delete: </th>
            <th class="mat-cell" scope="col">Delete all selected elements from the canvas</th>
        </tr>
        <tr class="mat-row">
            <th class="mat-cell" scope="col">Escape: </th>
            <th class="mat-cell" scope="col">Remove items from the clipboard, delete drawing lasso</th>
        </tr>
    </table>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
