@import '../../node_modules/@angular/material/theming';

$typography: mat-typography-config(
    $font-family: Roboto,
    $headline: mat-typography-level(32px, 48px, 700)
);
@include mat-core();

$netgrif-blue: (
    50: #e2eaf0,
    100: #b7c9d9,
    200: #87a6c0,
    300: #5782a7,
    400: #336794,
    500: #0f4c81,
    600: #0d4579,
    700: #0b3c6e,
    800: #083364,
    900: #042451,
    A100: #ffd180,
    A200: #ffab40,
    A400: #ff9100,
    A700: #ff6d00,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $dark-primary-text,
        A400: $dark-primary-text,
        A700: $dark-primary-text,
    )
);

$netgrif-grey: (
    50: #EEEFF0,
    100: #D5D7D9,
    200: #BABCC0,
    300: #9EA1A7,
    400: #898C94,
    500: #747881,
    600: #6C7079,
    700: #61656E,
    800: #575B64,
    900: #444851,
    A100: #B3CAFB,
    A200: #83A7F9,
    A400: #4A82FF,
    A700: #3070FF,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $dark-primary-text,
        A400: $light-primary-text,
        A700: $light-primary-text,
    )
);

$netgrif-primary: mat-palette($netgrif-blue);
$netgrif-accent: mat-palette($netgrif-blue, A200, A100, A400);
$netgrif-warn: mat-palette($mat-red);

$netgrif-theme: mat-light-theme($netgrif-primary, $netgrif-accent, $netgrif-warn);

body {
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: $light-primary-text;
    }

    ::-webkit-scrollbar {
        width: 7px;
        height: 7px;
        background-color: $light-primary-text;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: #82A5DD;
    }
}

@include angular-material-theme($netgrif-theme);

.svg-inactive-stroke {
    stroke: black !important;
}

.svg-inactive-fill {
    fill: black !important;
}

.svg-active-stroke {
    stroke: map-get($netgrif-blue, A200) !important;
}

.svg-active-fill {
    fill: map-get($netgrif-blue, A200) !important;
}

.svg-invisible-fill {
    fill: none !important;
}

.svg-transition-enabled {
    stroke: green;
    fill: yellowgreen;
}

.svg-transition-disabled {
    stroke: red;
    fill: white;
}

.svg-transition-firing {
    stroke: green;
    fill: none;
}

.svg-fire-arrow-cancel-active {
    fill: coral;
    stroke: red;
}

.svg-fire-arrow-cancel-inactive {
    fill: none;
    stroke: none;
}

.svg-fire-arrow-finish-active {
    stroke: green;
    fill: yellowgreen;
}

.svg-fire-arrow-finish-inactive {
    fill: none;
    stroke: none;
}

.svg-icon-active {
    display: block;
}

.svg-icon-inactive {
    display: none;
}

.path {
    stroke-dasharray: 2 5;
    animation: dash 10s linear;
    animation-iteration-count: infinite;
}

@keyframes dash {
    to {
        stroke-dashoffset: 400;
    }
}
