@import "../netgif-theme";

.app-container {
    padding: 0 16px;
    width: 100%;
    overflow: hidden;
    border-bottom: 5px solid #DDDDDD;
    background-color: map-get($netgrif-blue, 600);;
}

.canvas {
    width: 10000px;
    height: 10000px;
}

.inner {
    display: block;
}

.outer {
    display: flex;
    overflow: scroll;
    min-height: 100%;

}

.link-icon-button {
    color: #fff;
}

#netgrif-icon {
    font-size: 50px;
    height: 50px ;
    width: 50px;
}
