<mat-toolbar fxLayout="row" class="app-container mat-toolbar mat-toolbar-single-row">
    <mat-toolbar-row fxFlex>
        <mat-icon id="netgrif-icon" svgIcon="netgrif_logo"></mat-icon>
        <mat-button-toggle-group [(ngModel)]="_mode" fxLayoutAlign="start end">
            <mat-button-toggle mat-button [value]="canvasMode.SELECT" (click)="changeCanvasMode(canvasMode.SELECT)">
                <mat-icon svgIcon="cursor-default-outline"></mat-icon>
            </mat-button-toggle>
            <mat-button-toggle mat-button [value]="canvasMode.PANNING" (click)="changeCanvasMode(canvasMode.PANNING)">
                <mat-icon>open_with</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle mat-button [value]="canvasMode.LASSO"
                               (click)="changeCanvasMode(canvasMode.LASSO)">
                <mat-icon>tab_unselected</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle mat-button [value]="canvasMode.CREATE_TRANSITION"
                               (click)="changeCanvasMode(canvasMode.CREATE_TRANSITION)">
                <mat-icon svgIcon="transition"></mat-icon>
            </mat-button-toggle>
            <mat-button-toggle mat-button [value]="canvasMode.CREATE_PLACE"
                               (click)="changeCanvasMode(canvasMode.CREATE_PLACE)">
                <mat-icon svgIcon="place"></mat-icon>
            </mat-button-toggle>
            <mat-button-toggle mat-button [value]="canvasMode.CREATE_REGULAR_ARC"
                               (click)="changeCanvasMode(canvasMode.CREATE_REGULAR_ARC)">
                <mat-icon svgIcon="arc"></mat-icon>
            </mat-button-toggle>
            <mat-button-toggle mat-button [value]="canvasMode.CREATE_RESET_ARC"
                               (click)="changeCanvasMode(canvasMode.CREATE_RESET_ARC)">
                <mat-icon svgIcon="resetarc"></mat-icon>
            </mat-button-toggle>
            <mat-button-toggle mat-button [value]="canvasMode.CREATE_INHIBITOR_ARC"
                               (click)="changeCanvasMode(canvasMode.CREATE_INHIBITOR_ARC)">
                <mat-icon svgIcon="inhibitor"></mat-icon>
            </mat-button-toggle>
            <mat-button-toggle mat-button [value]="canvasMode.CREATE_READ_ARC"
                               (click)="changeCanvasMode(canvasMode.CREATE_READ_ARC)">
                <mat-icon svgIcon="read"></mat-icon>
            </mat-button-toggle>
            <mat-button-toggle mat-button [value]="canvasMode.MOVE" (click)="changeCanvasMode(canvasMode.MOVE)">
                <mat-icon>all_out</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle mat-button [value]="canvasMode.REMOVE" (click)="changeCanvasMode(canvasMode.REMOVE)">
                <mat-icon>delete_outline</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle mat-button (click)="openDialog()">
                <mat-icon>info</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle mat-button (click)="petriflowCanvasService.gridOnOff()">
                <mat-icon>clear</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle mat-button id="reset-zoom-button" (click)="resetPanZoom()">
                <mat-icon>clear</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>
        <div fxFlex></div>
        <div fxLayout="row" fxLayoutAlign="end center">
            <button mat-icon-button id="source-button" class="link-icon-button"
                    aria-label="Source code hosted in GitHub"
                    (click)="goToLink('https://github.com/netgrif/petriflow.svg')"
                    matTooltip="Got to Repository" matTooltipPosition="below">
                <mat-icon svgIcon="github">github</mat-icon>
            </button>
            <button mat-icon-button id="petriflow-svg-docs-button" class="link-icon-button"
                    (click)="goToLink('https://netgrif.github.io/petriflow.svg/petriflow.svg')"
                    matTooltip="Petriflow.SVG Documentation" matTooltipPosition="below">
                <mat-icon>description</mat-icon>
            </button>
            <button mat-icon-button id="petri-svg-docs-button" class="link-icon-button"
                    (click)="goToLink('https://netgrif.github.io/petriflow.svg/petri.svg')"
                    matTooltip="Petri.SVG Documentation" matTooltipPosition="below">
                <mat-icon>article</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<div class="outer">
    <petriflow-svg-canvas class="canvas" [panzoomConfiguration]="panzoomConfiguration"
                          [gridConfiguration]="petriflowCanvasService.gridConfiguration"></petriflow-svg-canvas>
</div>
