name: Master Build & Test

on:
    push:
        branches: [ master ]

jobs:
    build:
        name: Build
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v2
                with:
                    fetch-depth: 0
            -   name: Use Node.js 16
                uses: actions/setup-node@v2
                with:
                    node-version: 16
            -   run: |
                    npm i --legacy-peer-deps
                    cd projects/petri-svg
                    npm i
                    cd ../..
            -   name: Build & test petri.svg
                run: |
                    npm run petrisvg:build
                    npm run petrisvg:test:full
                    npm run petrisvg:doc
                    npm i ./dist/petri-svg --save-optional --legacy-peer-deps
            -   name: Build & test petriflow.svg
                run: |
                    npm run petriflowsvg:build
                    npm run petriflowsvg:test:full
                    npm run petriflowsvg:doc
                    npm i ./dist/petriflow-svg --save-optional --legacy-peer-deps
#            -   name: SonarCloud scan
#                uses: SonarSource/sonarcloud-github-action@master
#                env:
#                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#                    SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
            -   name: Build example app
                run: npm run example:build
            -   name: Build documentations
                run: |
                    cp projects/petri-svg/docs docs/petri.svg
                    cp projects/petriflow-svg/docs docs/petriflow.svg
                    cp dist/example-app docs
            -   uses: EndBug/add-and-commit@v8
                with:
                    add: docs
                    pathspec_error_handling: exitImmediately
                    default_author: github_actions
                    committer_name: Netgrif DevOps
                    committer_email: devops@netgrif.com
                    message: 'CI - Update documentation'
